[submodule "config/awesome/collision"]
	path = config/awesome/collision
	url = https://github.com/Elv13/collision
[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/lcpz/lain
