[submodule "config/awesome/utils"]
	path = config/awesome/utils
	url = git://github.com/Mic92/utils.git
[submodule "config/awesome/vicious"]
	path = config/awesome/vicious
	url = http://git.sysphere.org/vicious
